# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Responda: É possível ter elementos de tipos difentes em uma mesma lista? Exemplo: strings e números?

Sim, é possivel ter tipos diferentes em uma lista.

2) Trabalhando com Listas, faça:
- a) Cria uma lista de valores inteiros com o **nome** e **idades**.
- b) Imprima apenas segundo elemento da lista.
- c) Imprima a quantidade de elementos da lista.
- d) Substitua o valor do segundo elemento da lista e imprima o resultado.
- e) Imprima apenas os valores do segundo elemento em diante.
- f) Remova qualquer elemento da lista e imprima o resultado.
- g) Defina uma lista chamada salarios com os valores : **900,1200,1500,800,12587,10000**.
- h) Verifique se contém o valor 10000 na lista de salarios.
- i) Imprima o menor e maior valor da lista.
- j) Adicione o valor 7000 a lista.
- l) Extenda a lista com dois novos elementos utilizando apenas um método.
- m) Imprima o índice do elemento de valor 800 da lista de salarios.
- n) Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [30]:
#a) Cria uma lista de valores inteiros com o nome e idades.
idade = [5,6,10,25,99,26,11,58]

In [31]:
#b) Imprima apenas segundo elemento da lista.
idade[1]

6

In [32]:
#c) Imprima a quantidade de elementos da lista.
len(idade)

8

In [38]:
#d) Substitua o valor do segundo elemento da lista e imprima o resultado.
idade[1] = 55
print(idade)

[5, 55, 25, 99, 26, 11, 58]

In [39]:
#e) Imprima apenas os valores do segundo elemento em diante
idade[1:]

[55, 25, 99, 26, 11, 58]

In [40]:
#f) Remova qualquer elemento da lista e imprima o resultado.
idade.remove(55)
idade

[5, 25, 99, 26, 11, 58]

In [42]:
#g) Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
salarios = [900,1200,1500,800,12587,10000]

In [43]:
#h) Verifique se contém o valor 10000 na lista de salarios.
10000 in salarios

True

In [44]:
#i) Imprima o menor e maior valor da lista.
min(salarios)

800

In [45]:
#j) Adicione o valor 7000 a lista.
salarios.append(7000)

In [46]:
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000]

In [47]:
#l) Extenda a lista com dois novos elementos utilizando apenas um método.
salarios = salarios + [500,1600]
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000, 500, 1600]

In [48]:
#m) Imprima o índice do elemento de valor 800 da lista de salarios.
salarios.index(800)

3

In [49]:
#n) Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.
salarios.sort()
salarios

[500, 800, 900, 1200, 1500, 1600, 7000, 10000, 12587]

In [50]:
salarios.sort(reverse=True)
salarios

[12587, 10000, 7000, 1600, 1500, 1200, 900, 800, 500]

3) Trabalhando com dicionários:
- a) Crie um dicionário para armazenar o nome e a idade de pessoas, Exemplo:
    pessoas = {'Rodrigo':30, 'Fulana':18}
- b) Imprima a idade da pessoa "Fulana"
- c) Imprima as Chaves do dicionario criado anteriormente.
- d) Imprima os valores das chaves do dicionário
- e) Busque a chave "Felipe" se ela não existe insira esta e o valor 30 (obs: use o método setdefault())

In [51]:
#a) Crie um dicionário para armazenar o nome e a idade de pessoas, Exemplo: pessoas = {'Rodrigo':30, 'Fulana':18}
pessoas = {'Rodrigo':30, 'Fulana':18}

In [53]:
#b) Imprima a idade da pessoa "Fulana"
pessoas['Fulana']

18

In [54]:
#c) Imprima as Chaves do dicionario criado anteriormente.
pessoas.keys()

dict_keys(['Rodrigo', 'Fulana'])

In [56]:
#d) Imprima os valores das chaves do dicionário
pessoas.values()

dict_values([30, 18])

In [58]:
#e) Busque a chave "Felipe" se ela não existe insira esta e o valor 30 (obs: use o método setdefault())
pessoas.setdefault('Felipe',30)

30

In [59]:
pessoas

{'Rodrigo': 30, 'Fulana': 18, 'Felipe': 30}

4) Estruturas condicionais:
- a) Verifique se 5 é maior que 1, se sim, imprima "5 é maior que 1"
- b) crie as variávies x1 e y1, defina dois valores quaisquer para as duas variáveis. 
  Verifique se x1 é maior que y1. Se sim, imprima "x1 é maior que y1", senão imprima: "y1 é maior que x1"
- c) Crie uma lista de valores como [2,3,4,5,6,7] e faça um loop para imprimir todos os valores na tela multiplicados por 2.

In [60]:
#a) Verifique se 5 é maior que 1, se sim, imprima "5 é maior que 1"
if 5 > 1:
    print("5 é maior de 1!")

5 é maior de 1!

In [61]:
#b) crie as variávies x1 e y1, defina dois valores quaisquer para as duas variáveis. Verifique se x1 é maior que y1.
#Se sim, imprima "x1 é maior que y1", senão imprima: "y1 é maior que x1"
x1 = 2
y1 = 3

if x1 > y1:
    print("x1 é maior que y1.")
else:
    print("y1 é maior que x1")

y1 é maior que x1

In [63]:
#c) Crie uma lista de valores como [2,3,4,5,6,7] e faça um loop para imprimir todos os valores na tela multiplicados por 2.
list_1 = [2,3,4,5,6,7]
for i in list_1:
    print ("Valor: %s" %i)
    print (i*2)

Valor: 2
4
Valor: 3
6
Valor: 4
8
Valor: 5
10
Valor: 6
12
Valor: 7
14

- Ao concluir, salve seu notebook e envie suas respostas para **contato@minerandodados.com.br**